ignore-scripts=true # preinstall/postinstall scripts should not be used, and may contain malware
min-release-age=1 # Require minimum age of NPM package >= 1 day to prevent time-push malware injection
allow-git=none # Prevent remote installation of Github/Gitlab based malware injection
