.customedit-div {
    /* padding: 10px; */
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.26); */
    background: #e6e6e6;
    border: 1px solid #4a4949;
    box-sizing: border-box !important;
    color: white;
    font-family: 'Arial', sans-serif;
    height: 438px;
    overflow: hidden;
    position: relative;
    width: 510px;
}

.spacingdiv {
    border: 1px solid gray;
    margin-left: -3px;
    padding: 5px;
    width: auto;
}

.spacingdiv label {
    color: #464343;
    font-size: 12px;
    margin-bottom: 4px;
    margin-left: -4px;
    margin-right: 0;
    margin-top: 4px;
}

.formp {
    color: #464343;
    font-size: 12px;
    margin-bottom: 2px;
    margin-left: -2px;
    margin-top: 2px;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 9px;
    padding-top: 1px;
}

.linespacing{
    height: 22px;
    margin-left: -4px;
    width: 140px;
}

.spacinginput {
    box-sizing: revert !important;
    font-family: inherit;
    font-size: 13px;
    line-height: unset;
    width: 19px;
}

.customedit-head {
    box-sizing: unset !important;
    color: #47adec;
    font-family: 'Arial', sans-serif;
    font-family: sans-serif;
    font-size: 25px;
    height: 27px;
    margin-left: 2px;
    padding: 5px;
    text-align: left;
    font-weight: 500;
}

.customedit-body {
    background: transparent;
    color: #464343;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    line-height: 1.2 !important;
    margin-top: 3px;
    padding-bottom: 0;
    padding-top: 1px;
    padding: 5px;
}

label {
    color: black;
} 

.stylenameinput {
    box-sizing: unset !important;
    color: black;
    font-family: inherit !important;
    height: 18px;
    line-height: unset;
    margin-bottom: 3px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: 97%;    
}

.sectiondiv {
    /* margin: 5px 0; */
    margin-left: 4px;
    padding-left: 2px;
    width: 240px;;
}

.iconspan {
    margin-right: 10px;
    margin-top: 0;
}

.editorsection {
    box-sizing: border-box;
    padding-right: 5px;
}

.textareadiv {
    background: white;
    border-color: grey;
    border-image: initial;
    border-style: solid;
    box-sizing: unset !important;
    border-width: 1px;
    color: gray;
    cursor: text;
    flex-direction: column;
    font: 400 11px Arial;
    height: 214px;
    margin: 0;
    margin-left: 0;
    margin-right: 20px;
    margin-top: 7px;
    overflow: auto;
    overflow-wrap: break-word;
    padding: 8px;
    padding-bottom: 6px;
    padding-right: 6px;
    -webkit-rtl-ordering: logical;
    white-space: pre-wrap;
    width: 95%;
}

.sampletext {
    color: gray;
}

.fontsize {
    height: 22px;
    margin-bottom: 4px;
    margin-left: 7px;
    margin-top: 8px;
    padding-bottom: 3px;
    padding-top: 2px;
    width: 50px;
}

.fonttype {
    height: 22px;
    margin-bottom: 3px;
    margin-left: -10px;
    margin-top: 7px;
    padding-bottom: 3px;
    padding-top: 2px;
    width: 153px;
}

.leveltype {
    height: 22px;
    margin-left: 0;
    padding-left: 2px;
    width: 83px;
}

.numbering {
    font-size: 13px;
    height: 22px;
    margin-bottom: 0;
    margin-right: 5px;
    padding-bottom: 0;
    padding-right: 5px;
    width: 500px;
}

.indenting {
    font-size: 13px;
    height: 22px;
    margin-left: 10px;
    padding-bottom: 2px;
    padding-left: 0;
    width: 186px;
}

.btns {
    margin-bottom: 2px;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 2px;
    padding-left: 4px;
    padding-right: 0;
    text-align: right;
}

.btnsave  {
    margin-left: 8px;
    margin-right: 7px;
    margin-top: 2px;
    padding-left: 6px;
}

.align-menu-button {
    background: transparent;
    border: none;
    margin: 0;
    margin-left: -3px;
    white-space: nowrap;
    width: 38px;
}

.align-menu-button-icon {
    margin-left: -3px;
}

.align-menu-dropdown-icon {
    margin-left: 0;
}

.dropdown-div {
    background: #fff;
    border: 1px solid black;
    box-shadow: 0 1px 3px rgb(90 45 45 / 26%);
}

.dropdown-buttons {
    margin: 5px 8px;
    padding-top: 5px;
}

.visible-sampletext {
    color: black;
    display: block;
    margin-top: 1px;
    padding: 0;
}

.hide-sampletext {
    display: none;
}

.accordion {
    background-color: #ccc;
    border: 1px solid lightgray;
    color: #444;
    cursor: pointer;
    font-size: 14px;
    text-align: left;
    transition: 0.4s;
    width: 100%;
}

.accordion:after {
    color: #777;
    content: '\002B';
    float: right;
    font-weight: bold;
    margin-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
}

.accactive:after {
    content: '\2212';
}

.panel,
.panel1,
.panel2 {
    background-color: transparent;
    margin-bottom: 10px;
    max-height: 0;
    overflow: hidden;
    padding: 0 7px;
    transition: max-height 0.2s ease-out;
    width: auto;
}

.chknumbering {
    margin-left: 12px;
    margin-top: 2px;
    padding-top: 2px;
}

.czi-custom-buttons {
    margin-left: -8px;
    margin-right: 2px;
    padding-left: 4px;
    padding-right: 2px;
}

.font-buttons {
    margin-left: 0;
    margin-right: 2px;
    padding-left: 4px;
    padding-right: 2px;
}


.specifiedindent {
    margin-left: 10px;
    margin-top: -1px;
}

.alignbuttons {
    background-color: #f0f0f0;
    border-color: #555;
    outline: none;
    padding: 0;
    text-align: center;
    width: 50px;
}

.alignbuttons:focus,
.alignbuttons:hover {
    background-color: #f0f0f0;
    border-color: #338eec;
    outline: none;
}
.activealignbuttons {
    background-color: #f0f0f0;
    border-color: #338eec;
    outline: none;
    padding: 0;
    text-align: center;
    width: 70px;
}
.panel.hr {
    margin-bottom: 0;
    margin-top: 0;
  }

  .markbuttons{
     background: transparent;
  }

  .fontstyle {
    font-size: 13px;
  }
  
.buttonstyle {
    border-radius: revert;
    font-size: 13px;
}
  .hierarchydiv {
    border: 1px solid gray;
    margin-left: -1px;
    padding: 5px;
    width: auto;
  }

  .hierarchydiv label {
    box-sizing: revert !important;
    color: #464343;
    font-size: 12px;
    margin-bottom: 4px;
    margin-left: -4px;
    margin-right: 0;
    margin-top: 4px;
}

.indentdiv{
    display: inline-flex;
}
