.customedit-div {
    /* padding: 10px; */
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.26); */
    background: #e6e6e6;
    border: 1px solid #4a4949;
    box-sizing: border-box;
    color: white;
    font-family: 'Arial', sans-serif;
    height: 495px;
    overflow: hidden;
    position: relative;
    width: 350px;
}

.spacingdiv {
    border: 1px solid gray;
    margin-left: 1px;
    padding: 5px;
}
.spacingdiv label {
    color: #464343;
    font-size: 14px;
    margin: 4px 0;
}

.formp {
    color: #464343;
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 9px;
    padding-top: 1px;
}

.linespacing{
    height: 22px;
    margin-left: 2px;
    width: 140px;
}

.spacinginput {
    /* margin: 0 0 0 15px !important; */
    font-family: inherit;
    font-size: 13px;
    line-height: unset;
    margin-left: 4px;
    /* margin-right:px; */
    padding-left: 2px;
    padding-right: 3px;
    width: 50px;
}

.customedit-head {
    border-bottom: 1px solid #d0bfbf;
    color: #47adec;
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    /* font-family: sans-serif; */
    height: 41px;
    margin-left: 2px;
    padding: 5px;
    text-align: center;
}

.customedit-body {
    color: #464343;
    margin-top: 3px;
    padding-bottom: 0;
    padding-top: 1px;
}

label {
    color: black;
}

.stylenameinput {
    color: black;
    font-family: inherit;
    height: 19px;
    line-height: unset;
    margin-bottom: 3px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: 97%;
}

.sectiondiv {
    /* margin: 5px 0; */
    margin-left: 4px;
    padding-left: 2px;
}

.iconspan {
    margin-right: 10px;
    margin-top: 0;
}

.editorsection {
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.26);
    box-sizing: border-box;
    margin-bottom: 0;
    margin-left: 6px;
    margin-right: 7px;
    /* padding: 2px 7px 2px 0; */
    margin-top: 4px;
    overflow: hidden;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
}

.textareadiv {
    border-color: grey;
    border-image: initial;
    border-style: solid;
    border-width: 1px;
    color: gray;
    cursor: text;
    flex-direction: column;
    font: 400 11px Arial;
    /* height: 117px; */
    margin: 0em;
    margin-left: 0;
    margin-right: 20px;
    margin-top: 7px;
    max-height: 122px;
    min-height: 117px;
    overflow: auto;
    overflow-wrap: break-word;
    padding: 8px;
    padding-bottom: 6px;
    padding-right: 6px;
    -webkit-rtl-ordering: logical;
    white-space: pre-wrap;
    width: 95%;
}

.sampletext {
    color: gray;
}

.fontsize {
    height: 22px;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-top: 7px;
    padding-bottom: 3px;
    padding-top: 2px;
    width: 62px;
}

.fonttype {
    height: 22px;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-top: 7px;
    padding-bottom: 3px;
    padding-top: 2px;
    width: 210px;
}

.leveltype {
    height: 22px;
    margin-left: 0;
    padding-left: 2px;
    width: 130px;
}

.numbering {
    font-size: 13px;
    height: 22px;
    margin-bottom: 0;
    margin-right: 5px;
    padding-bottom: 0;
    padding-right: 5px;
    width: 500px;
}

.indenting {
    font-size: 13px;
    height: 22px;
    margin-left: 10px;
    padding-bottom: 2px;
    padding-left: 0;
    width: 186px;
}

.btns {
    margin-bottom: 2px;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 2px;
    padding-left: 4px;
    padding-right: 0;
    text-align: right;
}

.btnsave  {
    margin-left: 8px;
    margin-top: 2px;
    padding-left: 6px;
}

.align-menu-button {
    background: transparent;
    border: none;
    margin: 0;
    margin-left: -3px;
    width: 38px;
    white-space: nowrap;
}

.align-menu-button-icon {
    margin-left: -3px;
}

.align-menu-dropdown-icon {
    margin-left: 0;
}

.dropdown-div {
    background: #fff;
    border: 1px solid black;
    box-shadow: 0 1px 3px rgb(90 45 45 / 26%);
}

.dropdown-buttons {
    margin: 5px 8px;
    padding-top: 5px;
}

.visible-sampletext {
    color: black;
    display: block;
    margin-top: 1px;
    padding: 0;
}

.hide-sampletext {
    display: none;
}

.accordion {
    background-color: #eee;
    border: solid;
    border: 1px solid lightgray;
    color: #444;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-top: 3px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-top: 3px;
    text-align: left;
    transition: 0.4s;
    width: 100%;
}

.accactive,
.accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    float: right;
    font-weight: bold;
    margin-left: 5px;
    /* margin-right: 5px; */
    padding-right: 5px;
    padding-top: 3px;
}

.accactive:after {
    content: '\2212';
}

.panel,
.panel1,
.panel2 {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    padding: 0 7px;
    transition: max-height 0.2s ease-out;
    width: auto;
}

.chknumbering {
    margin-top: 2px;
    padding-top: 2px;
}
.alignbuttons {
    background-color: #f0f0f0;
    border-color: #555;
    margin: 0;
    outline: none;
    padding: 2px;
    text-align: center;
    width: 70px;
}

.czi-custom-buttons {
    margin-left: 0;
    margin-right: 2px;
    padding-left: 4px;
    padding-right: 2px;
}

/* .format align right {
    margin-left: 2px;
    padding-left: 2px;
}

.iconspan czi-icon account tree {
    margin-top: 10px;
} */

.specifiedindent{
    margin-left: 10px;
}

.alignbuttons {
    background-color: #f0f0f0;
    border-color: #555;
    outline: none;
    padding: 0;
    text-align: center;
    width: 70px;
}

.alignbuttons:focus,
.alignbuttons:hover {
    background-color: #f0f0f0;
    border-color: #338eec!important;
    outline: none;
}

.activealignbuttons {
    background-color: #f0f0f0;
    border-color: #338eec!important;
    outline: none;
    padding: 0;
    text-align: center;
    width: 70px;
}

.panel.hr {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
  }