
.dropbtn {
    background-color: #f9f9f9;
    border: 1px solid #cec7c7;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    color: #5a615e;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    min-width: 160px;
    padding: 5px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    background-color: #f9f9f9;
    border: 1px solid #cec7c7;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    color: #5a615e;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    height: 150px;
    min-width: 160px;
}

.dropdown-content a {
    display: block;
    padding: 10px 14px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #5a615e;
}
.dropdown-content a:hover {
    background-color: lightgrey;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    transition: opacity;
    transition-delay: 2s;
}

#container1 {
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    line-height: 2;
    width: 265px;
}

#container1>div {
    /* width: 100px; */
    height: 30px;
    /* border: 2px dashed red */
}

#container1:hover {
    background-color: lightgrey;
}
.arrow_right {
    text-align: right;
    width: 30px;
}
