.customedit-div {
  background: #e6e6e6;
  border-color: #4a4949;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box !important;
  color: white;
  font-family: 'Arial', sans-serif;
  height: 438px;
  overflow: hidden;
  position: relative;
  width: 510px;
}

.spacingdiv {
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  margin-left: -3px;
  padding: 5px;
  width: auto;
}

.spacingdiv label {
  color: #464343;
  font-size: 12px;
  margin-bottom: 4px;
  margin-left: -4px;
  margin-right: 0;
  margin-top: 4px;
}

.formp {
  color: #464343;
  font-size: 12px;
  margin-bottom: 2px;
  margin-left: -2px;
  margin-top: 2px;
  padding-bottom: 2px;
  padding-left: 0;
  padding-right: 9px;
  padding-top: 1px;
}

.linespacing {
  height: 22px;
  margin-left: -4px;
  width: 140px;
}

.spacinginput {
  box-sizing: content-box !important;
  font-family: inherit;
  font-size: 13px;
  line-height: unset;
  width: 19px;
}

.customedit-head {
  box-sizing: unset !important;
  color: #47adec;
  font-family: 'Arial', sans-serif;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 500;
  height: 27px;
  margin-left: 2px;
  padding: 5px;
  text-align: left;
}

.customedit-body {
  background: transparent;
  color: #464343;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto;
  line-height: 1.2 !important;
  margin-top: 3px;
  padding: 5px;
  padding-bottom: 0;
  padding-top: 1px;
}

label {
  color: black;
}

.stylenameinput {
  box-sizing: unset !important;
  color: black;
  font-family: inherit !important;
  height: 18px;
  line-height: unset;
  margin-bottom: 3px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 97%;
}

.sectiondiv {
  /* margin: 5px 0; */
  box-sizing: border-box;
  margin-left: 4px;
  padding-left: 2px;
  width: 240px;
}

.iconspan {
  margin-right: 10px;
  margin-top: 0;
}

.spanmargin {
  margin-right: 10px;
}

.editorsection {
  box-sizing: border-box;
  padding-right: 5px;
}

.textareadiv {
  background: white;
  border-color: grey;
  border-image: initial;
  border-style: solid;
  border-width: 1px;
  box-sizing: unset !important;
  color: gray;
  cursor: text;
  flex-direction: column;
  font: 400 11px arial, sans-serif;
  margin: 0;
  margin-left: 0;
  margin-right: 20px;
  margin-top: 7px;
  overflow: auto;
  overflow-wrap: break-word;
  padding: 8px;
  padding-bottom: 6px;
  padding-right: 6px;
  -webkit-rtl-ordering: logical;
  white-space: pre-wrap;
  width: 95%;
}

.sampletext {
  color: gray;
}

.fontsize {
  box-sizing: border-box;
  height: 22px;
  margin-bottom: 4px;
  margin-left: 7px;
  margin-top: 8px;
  padding-bottom: 3px;
  padding-top: 2px;
  width: 50px;
}

.fonttype {
  box-sizing: border-box;
  height: 22px;
  margin-bottom: 3px;
  margin-left: -10px;
  margin-top: 7px;
  padding-bottom: 3px;
  padding-top: 2px;
  width: 153px;
}

.leveltype {
  box-sizing: border-box;
  height: 22px;
  margin-left: 0;
  padding-left: 2px;
  width: 83px;
}

.numbering {
  box-sizing: border-box;
  font-size: 13px;
  height: 22px;
  margin-bottom: 0;
  margin-right: 5px;
  padding-bottom: 0;
  padding-right: 5px;
  width: 500px;
}

.indenting {
  box-sizing: border-box;
  font-size: 13px;
  height: 22px;
  margin-left: 10px;
  padding-bottom: 2px;
  padding-left: 0;
  width: 186px;
}

.btns {
  margin-bottom: 2px;
  margin-left: 28px;
  margin-right: 0;
  margin-top: 2px;
  padding-left: 4px;
  padding-right: 0;
  text-align: right;
}

.btnsave {
  margin-left: 8px;
  margin-right: 7px;
  margin-top: 2px;
  padding-left: 6px;
}

.align-menu-button {
  background: transparent;
  border: none;
  margin: 0;
  margin-left: -3px;
  white-space: nowrap;
  width: 38px;
}

.align-menu-button-icon {
  margin-left: -3px;
}

.align-menu-dropdown-icon {
  margin-left: 0;
}

.dropdown-div {
  background: #fff;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgb(90 45 45 / 26%);
}

.dropdown-buttons {
  margin-bottom: 5px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 5px;
  padding-top: 5px;
}

.visible-sampletext {
  color: black;
  display: block;
  margin-top: 1px;
  padding: 0;
}

.hide-sampletext {
  display: none;
}

.licit-accordion {
  background-color: #ccc;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: #444;
  cursor: pointer;
  font-size: 14px;
  height: 25px;
  outline: none !important;
  text-align: left;
  transition: 0.4s;
  width: 100%;
}

.licit-accordion::after {
  color: #777;
  content: '\002B';
  float: right;
  font-weight: bold;
  margin-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
}

.accactive::after {
  content: '\2212';
}

.panel,
.panel1,
.panel2,
.panel3 {
  background-color: transparent;
  box-sizing: border-box;
  margin-bottom: 10px;
  max-height: 0;
  overflow: hidden;
  padding-bottom: 0;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 0;
  transition: max-height 0.2s ease-out;
  width: auto;
}

.chknumbering {
  margin-left: 11px;
  margin-top: 2px;
  padding-top: 2px;
}

.chkboldnumbering {
  margin-left: 11px;
  margin-top: 2px;
  padding-top: 2px;
}

.czi-custom-buttons {
  margin-left: -8px;
  margin-right: 2px;
  padding-left: 4px;
  padding-right: 2px;
}

.font-buttons {
  margin-left: 0;
  margin-right: 2px;
  padding-left: 4px;
  padding-right: 2px;
}

.specifiedindent {
  margin-left: 10px;
  margin-top: -1px;
}

.alignbuttons {
  background-color: #f0f0f0;
  border-color: #555;
  outline: none;
  padding: 0;
  text-align: center;
  width: 50px;
}

.alignbuttons:focus,
.alignbuttons:hover {
  background-color: #f0f0f0;
  border-color: #338eec;
  outline: none;
}

.activealignbuttons {
  border-color: #338eec !important;
  outline: none;
  padding: 0;
  text-align: center;
  width: 50px;
}

.panel.hr {
  margin-bottom: 0;
  margin-top: 0;
}

.markbuttons {
  background: transparent;
}

.fontstyle {
  font-size: 13px;
}

.buttonstyle {
  border-radius: initial;
  font-size: 13px;
}

.hierarchydiv {
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  margin-left: -1px;
  padding: 5px;
  width: auto;
}

.hierarchydiv label {
  box-sizing: content-box !important;
  color: #464343;
  font-size: 12px;
  margin-bottom: 4px;
  margin-left: -4px;
  margin-right: 0;
  margin-top: 4px;
}

.indentdiv {
  display: inline-flex;
}

.settingsdiv {
  display: inline-flex;
  margin-left: -1px;
}

.markbutton-container {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.editor-markbuttons {
  margin-right: 0 !important;
  text-align: center !important;
  width: 25px;
}

div[disabled="disabled"] {
  opacity: 0.4;
  pointer-events: none;
}
