
.czi-custom-menu-item.czi-custom-button {
  border: none;
  border-radius: 0;
  display: block;
  margin: 0;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
}

.czi-custom-menu-item.czi-custom-button:hover {
  background-color: var(--czi-button-hover-background-color);
}

/*[FS] IRAD-1044 2020-09-22
To adjust the width of the custom style menu dropdown.*/

.custom-style-menu-item {
  width: 250px;
}

.czi-custom-menu-item-separator {
  background-color: var(--czi-button-hover-background-color);
  height: 1px;
  margin-bottom: 8px;
  margin-left:0;
  margin-right: 0;
  margin-top:  8px;
}
