@import './czi-vars.css';

/* Table Styles */

.ProseMirror .tableWrapper {
  overflow-x: auto;
}
.ProseMirror .tableWrapper::-webkit-scrollbar{
  height: 12px;
 }
.ProseMirror table {
  border: 1px solid var(--czi-table-border-color);
  border-collapse:collapse;
  border-spacing: 0;
  border-width: 0 thin thin 0;
  margin: 0;
  overflow: hidden;
  page-break-inside: avoid;
  table-layout: fixed;
  width: 100%;
}

.ProseMirror td,
.ProseMirror th {
  background-color: #fff;
  border: 1px solid var(--czi-table-border-color);
  border-width: thin 0 0 thin;
  box-sizing: border-box;
  min-width: 1em;
  padding: 8px;
  position: relative;
  vertical-align: top;
}

.ProseMirror th {
  background-color: var(--czi-table-header-background-color);
  font-weight: bold;
  text-align: left;
}

.ProseMirror .column-resize-handle {
  background-color: #adf;
  border: solid 1px #fff;
  border-width: 0 1px;
  bottom: 0;
  position: absolute;
  right: -2px;
  top: 0;
  width: 4px;
  z-index: 20;
}

.ProseMirror th:last-child > .column-resize-handle,
.ProseMirror td:last-child > .column-resize-handle {
  right: 0;
}

.ProseMirror .column-resize-handle.for-margin-left.for-margin-left {
  left: 0;
  right: auto;
}

/* [FS] IRAD-949 2020-05-27
Rezie cursor position issue fixed. */
.ProseMirror .column-resize-handle:focus,
.ProseMirror .column-resize-handle:hover {
  cursor: ew-resize;
  cursor: col-resize;
}

/* Give selected cells a blue overlay */
.ProseMirror .selectedCell::after {
  background: var(--czi-selection-highlight-color);
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.ProseMirror .custom-top-red {
  border-top-color: #ff0000;
  border-top-style: solid;
  border-top-width: 0.25px;
}
.ProseMirror .custom-bottom-red {
  border-bottom-color:  #ff0000;
  border-bottom-style: solid;
  border-bottom-width: 0.25px;
}
.ProseMirror .custom-left-red {
  border-left-color:  #ff0000;
  border-left-style: solid;
  border-left-width: 0.25px;
}
.ProseMirror .custom-right-red {
  border-right-color:  #ff0000;
  border-right-style: solid;
  border-right-width: 0.25px;
}

.ProseMirror .custom-top-lightyellow {
  border-top-color: #ffc000;
  border-top-style: solid;
  border-top-width: 0.25px;
}
.ProseMirror .custom-bottom-lightyellow {
  border-bottom-color: #ffc000;
  border-bottom-style: solid;
  border-bottom-width: 0.25px;
}
.ProseMirror .custom-left-lightyellow {
  border-left-color: #ffc000;
  border-left-style: solid;
  border-left-width: 0.25px;
}
.ProseMirror .custom-right-lightyellow {
  border-right-color: #ffc000;
  border-right-style: solid;
  border-right-width: 0.25px;
}

.ProseMirror .custom-top-yellow {
  border-top-color: #ffff00;
  border-top-style: solid;
  border-top-width: 0.25px;
}
.ProseMirror .custom-bottom-yellow {
  border-bottom-color: #ffff00;
  border-bottom-style: solid;
  border-bottom-width: 0.25px;
}
.ProseMirror .custom-left-yellow {
  border-left-color: #ffff00;
  border-left-style: solid;
  border-left-width: 0.25px;
}
.ProseMirror .custom-right-yellow {
  border-right-color: #ffff00;
  border-right-style: solid;
  border-right-width: 0.25px;
}

.ProseMirror .custom-top-lightgreen {
  border-top-color: #92d050;
  border-top-style: solid;
  border-top-width: 0.25px;
}
.ProseMirror .custom-bottom-lightgreen {
  border-bottom-color: #92d050;
  border-bottom-style: solid;
  border-bottom-width: 0.25px;
}
.ProseMirror .custom-left-lightgreen {
  border-left-color: #92d050;
  border-left-style: solid;
  border-left-width: 0.25px;
}
.ProseMirror .custom-right-lightgreen {
  border-right-color: #92d050;
  border-right-style: solid;
  border-right-width: 0.25px;
}

.ProseMirror .custom-top-green {
  border-top-color: #00b050;
  border-top-style: solid;
  border-top-width:0.25px;
}
.ProseMirror .custom-bottom-green {
  border-bottom-color: #00b050;
  border-bottom-style: solid;
  border-bottom-width: 0.25px;
}
.ProseMirror .custom-left-green {
  border-left-color: #00b050;
  border-left-style: solid;
  border-left-width: 0.25px;
}
.ProseMirror .custom-right-green {
  border-right-color: #00b050;
  border-right-style: solid;
  border-right-width: 0.25px;
}

.ProseMirror .custom-top-lightblue {
  border-top-color: #00b0f0;
  border-top-style: solid;
  border-top-width: 0.25px;
}
.ProseMirror .custom-bottom-lightblue {
  border-bottom-color: #00b0f0;
  border-bottom-style: solid;
  border-bottom-width: 0.25px;
}
.ProseMirror .custom-left-lightblue {
  border-left-color: #00b0f0;
  border-left-style: solid;
  border-left-width: 0.25px;
}
.ProseMirror .custom-right-lightblue {
  border-right-color: #00b0f0;
  border-right-style: solid;
  border-right-width: 0.25px;
}

.ProseMirror .custom-top-blue {
  border-top-color: #0070c0;
  border-top-style: solid;
  border-top-width: 0.25px;
}
.ProseMirror .custom-bottom-blue {
  border-bottom-color: #0070c0;
  border-bottom-style: solid;
  border-bottom-width: 0.25px;
}
.ProseMirror .custom-left-blue {
  border-left-color: #0070c0;
  border-left-style: solid;
  border-left-width: 0.25px;
}
.ProseMirror .custom-right-blue {
  border-right-color: #0070c0;
  border-right-style: solid;
  border-right-width: 0.25px;
}

.ProseMirror .custom-top-pink {
  border-top-color: #ff00ff;
  border-top-style: solid;
  border-top-width: 0.25px;
}
.ProseMirror .custom-bottom-pink {
  border-bottom-color: #ff00ff;
  border-bottom-style: solid;
  border-bottom-width: 0.25px;
}
.ProseMirror .custom-left-pink {
  border-left-color: #ff00ff;
  border-left-style: solid;
  border-left-width: 0.25px;
}
.ProseMirror .custom-right-pink {
  border-right-color: #ff00ff;
  border-right-style: solid;
  border-right-width: 0.25px;
}

.ProseMirror .custom-top-purple {
  border-top-color: #7030a0;
  border-top-style: solid;
  border-top-width: 0.25px;
}
.ProseMirror .custom-bottom-purple {
  border-bottom-color: #7030a0;
  border-bottom-style: solid;
  border-bottom-width: 0.25px;
}
.ProseMirror .custom-left-purple {
  border-left-color: #7030a0;
  border-left-style: solid;
  border-left-width: 0.25px;
}
.ProseMirror .custom-right-purple {
  border-right-color: #7030a0;
  border-right-style: solid;
  border-right-width: 0.25px;
}


.ProseMirror .custom-top-black {
  border-top-color: #000000;
  border-top-style: solid;
  border-top-width: 0.25px;
}
.ProseMirror .custom-bottom-black {
  border-bottom-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 0.25px;
}
.ProseMirror .custom-left-black {
  border-left-color: #000000;
  border-left-style: solid;
  border-left-width: 0.25px;
}
.ProseMirror .custom-right-black {
  border-right-color: #000000;
  border-right-style: solid;
  border-right-width: 0.25px;
}


.ProseMirror .custom-top-darkgrey {
  border-top-color: #444444;
  border-top-style: solid;
  border-top-width: 0.25px;
}
.ProseMirror .custom-bottom-darkgrey {
  border-bottom-color: #444444;
  border-bottom-style: solid;
  border-bottom-width: 0.25px;
}
.ProseMirror .custom-left-darkgrey {
  border-left-color: #444444;
  border-left-style: solid;
  border-left-width: 0.25px;
}
.ProseMirror .custom-right-darkgrey {
  border-right-color: #444444;
  border-right-style: solid;
  border-right-width: 0.25px;
}

.ProseMirror .custom-top-grey {
  border-top-color: #666666;
  border-top-style: solid;
  border-top-width: 0.25px;
}
.ProseMirror .custom-bottom-grey {
  border-bottom-color: #666666;
  border-bottom-style: solid;
  border-bottom-width: 0.25px;
}
.ProseMirror .custom-left-grey {
  border-left-color: #666666;
  border-left-style: solid;
  border-left-width: 0.25px;
}
.ProseMirror .custom-right-grey {
  border-right-color: #666666;
  border-right-style: solid;
  border-right-width: 0.25px;
}

.ProseMirror .custom-top-basaltgrey {
  border-top-color: #999999;
  border-top-style: solid;
  border-top-width: 0.25px;
}
.ProseMirror .custom-bottom-basaltgrey {
  border-bottom-color: #999999;
  border-bottom-style: solid;
  border-bottom-width: 0.25px;
}
.ProseMirror .custom-left-basaltgrey {
  border-left-color: #999999;
  border-left-style: solid;
  border-left-width: 0.25px;
}
.ProseMirror .custom-right-basaltgrey {
  border-right-color: #999999;
  border-right-style: solid;
  border-right-width: 0.25px;
}

.ProseMirror .custom-top-silvergrey {
  border-top-color: #acacac;
  border-top-style: solid;
  border-top-width: 0.25px;
}
.ProseMirror .custom-bottom-silvergrey {
  border-bottom-color: #acacac;
  border-bottom-style: solid;
  border-bottom-width:0.25px;
}
.ProseMirror .custom-left-silvergrey {
  border-left-color: #acacac;
  border-left-style: solid;
  border-left-width: 0.25px;
}
.ProseMirror .custom-right-silvergrey {
  border-right-color: #acacac;
  border-right-style: solid;
  border-right-width: 0.25px;
}


.ProseMirror .custom-top-lightgrey {
  border-top-color: #c8c8c8;
  border-top-style: solid;
  border-top-width: 0.25px;
}
.ProseMirror .custom-bottom-lightgrey {
  border-bottom-color: #c8c8c8;
  border-bottom-style: solid;
  border-bottom-width: 0.25px;
}
.ProseMirror .custom-left-lightgrey {
  border-left-color: #c8c8c8;
  border-left-style: solid;
  border-left-width: 0.25px;
}
.ProseMirror .custom-right-lightgrey {
  border-right-color: #c8c8c8;
  border-right-style: solid;
  border-right-width: 0.25px;
}

.ProseMirror .custom-top-greywhite {
  border-top-color: #e1e1e1;
  border-top-style: solid;
  border-top-width: 0.25px;
}
.ProseMirror .custom-bottom-greywhite {
  border-bottom-color: #e1e1e1;
  border-bottom-style: solid;
  border-bottom-width: 0.25px;
}
.ProseMirror .custom-left-greywhite {
  border-left-color: #e1e1e1;
  border-left-style: solid;
  border-left-width: 0.25px;
}
.ProseMirror .custom-right-greywhite {
  border-right-color: #e1e1e1;
  border-right-style: solid;
  border-right-width: 0.25px;
}

.ProseMirror .custom-top-whitesmoke {
  border-top-color: #f3f3f3;
  border-top-style: solid;
  border-top-width: 0.25px;
}
.ProseMirror .custom-bottom-whitesmoke {
  border-bottom-color: #f3f3f3;
  border-bottom-style: solid;
  border-bottom-width: 0.25px;
}
.ProseMirror .custom-left-whitesmoke {
  border-left-color: #f3f3f3;
  border-left-style: solid;
  border-left-width: 0.25px;
}
.ProseMirror .custom-right-whitesmoke {
  border-right-color: #f3f3f3;
  border-right-style: solid;
  border-right-width: 0.25px;
}

.ProseMirror .custom-top-white {
  border-top-color: #ffffff;
  border-top-style: solid;
  border-top-width: 0.25px;
}
.ProseMirror .custom-bottom-white {
  border-bottom-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 0.25px;
}
.ProseMirror .custom-left-white {
  border-left-color: #ffffff;
  border-left-style: solid;
  border-left-width: 0.25px;
}
.ProseMirror .custom-right-white {
  border-right-color: #ffffff;
  border-right-style: solid;
  border-right-width: 0.25px;
}

@media only print {
  .ProseMirror table {
    width: 100% !important;
  }
}
