@import 'czi-vars.css';

.czi-cursor-placeholder {
  display: inline-block;
  position: relative;
  vertical-align: text-bottom;
}

.czi-cursor-placeholder::after {
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: czi_cursor_blink;
  animation-name: czi_cursor_blink;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  background-color: var(--czi-selection-highlight-color-dark);
  bottom: 0;
  content: '';
  height: 1.2em;
  left: -1px;
  position: absolute;
  width: 3px;
}

@-webkit-keyframes czi_cursor_blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
