@import 'czi-vars.css';

.czi-selection-placeholder {
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: czi_selection_blink;
  animation-name: czi_selection_blink;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  background-color: var(--czi-selection-highlight-color-dark) !important;
}

@-webkit-keyframes czi_selection_blink {
  from { opacity: 1; }
  to { opacity: 0.7; }
}
