@import './czi-vars.css';

.czi-form {
  background: #fff;
  border: none;
  font-family: var(--czi-font-family);
  font-size: var(--czi-font-size);
  margin: 0;
  padding: 20px;
  color: black;
  display: grid;
}
#select-toc-tooltip {
  max-width: 400px;
  margin-top: -5px;
}
.tab-container {
  background: #fff;
  border: none;
  font-family: var(--czi-font-family);
  font-size: var(--czi-font-size);
  margin: 0;
  padding: 10px;
  color: black;
  display: flex;
}

.czi-form legend {
  border: none;
  font-size: var(--czi-content-font-size-h2);
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 3px;
  margin-left: 0;
  padding: 0;
  user-select: none;
}

.czi-form hr {
  background: #fff;
  border: var(--czi-border-grey);
  border-width: 1px 0 0 0;
  box-sizing: border-box;
  height: 1px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

.czi-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.czi-form input[type='text'] {
  border-width: 0 0 2px 0;
  border: var(--czi-border-blue);
  box-sizing: border-box;
  display: block;
  font-family: var(--czi-font-family);
  font-size: var(--czi-font-size);
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 8px;
  margin-left: 0;
  outline: none;
  padding-bottom: 12px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 12px;
  text-indent: 12px;
  width: 100%;
}

.czi-form em {
  color: var(--czi-color-grey-200);
  display: block;
  font-size: var(--czi-font-size-small);
  font-style: normal;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 8px;
  margin-left: 0;
  user-select: none;
}

.czi-form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
} 

.licit-alert {
  background-color: #f44336;
  box-sizing: border-box;
  color: white;
  padding: 20px;
  width: 340px;
}

.closebtn {
  color: #9a9090;
  cursor: pointer;
  float: right;
  font-size: 22px;
  font-weight: bold;
  line-height: 20px;
  margin-left: 15px;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* Style the tab */
.tab {
  overflow: hidden;
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 260px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 23px 13px;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  height: 130px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

.tablinks.active {
  background-color: #ccc; /* Style for the active button */
}

/* Style the tab content */
.tabcontent {
  display: none;
  float: left;
  padding: 0px 12px;
  padding-top: inherit;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 260px;
}

#toc {
  margin-bottom: 10px;
  margin-top: 10px;
  outline: 0;
  border: 4px solid lightslategray;
  padding: 7px;
  border-radius: 9px;
  width: 100%;
  height: 180px;
}

#toc option {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 3px;
  background-color: white;
  color: black;
}

.czi-form-buttons .czi-custom-button {
  margin: 0 5px;
}

.highlighted {
  color: yellow;
}

#toc option:checked {
  background-color: #1967d2;
  color: white;
}
