.czi-icon {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons', sans-serif;
  /* Support for IE. */
  font-feature-settings: 'liga';
  font-size: 20px;  /* Preferred icon size */
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  text-transform: none;
   /* Support for all WebKit browsers. */
  -webkit-font-smoothing: subpixel-antialiased;
  white-space: nowrap;
  word-wrap: normal;
}

.czi-icon.h1,
.czi-icon.h2,
.czi-icon.h3,
.czi-icon.hn {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 13px;
  text-transform: capitalize;
}

.czi-icon.hr {
  /* [FS] IRAD-1009 2020-07-16
  hr not grayed out on editor disable state
  Temporary Fix need to bring image instead of content */
  content: '---';
  height: 30px;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: -12px !important;
  width: 20px;
}

.czi-icon.hr::before {
  content: '---';
  font-weight: bold;
}

.czi-icon.superscript,
.czi-icon.subscript {
  display: inline-block;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  height: 16px;
  text-align: center;
  width: 20px;
}

.czi-icon .superscript-top {
  margin: 0 2px;
  vertical-align: super;
}

.czi-icon .subscript-bottom {
  margin: 0 2px;
  vertical-align: sub;
}
