/* <CustomButton /> */
@import './czi-vars.css';

.czi-custom-buttons {
  margin-bottom: 0;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 0;
  white-space: nowrap;
}

.czi-custom-button {
  background-clip: padding-box;
  background-color: #fff;
  border: var(--czi-border-grey);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--czi-button-text-color);
  cursor: pointer;
  display: inline-block;
  font-family: var(--czi-font-family);
  font-size: var(--czi-font-size);
  font-weight: normal;
  line-height: 1.2em;
  overflow: hidden;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  position: relative;
  text-overflow: ellipsis;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.czi-custom-button.use-icon {
  border-color: transparent;
  padding: 0;
}

.czi-custom-button:focus,
.czi-custom-button:hover {
  background-color: #5e5a5a;
  border-color: #555;
  outline: none;
}

.czi-custom-button.active {
  /*
   * Use text-stroke to strengthen teh text, do not use "bold" because it will
   * cause layout reflow.
   * Firefox & Edge specifically only support the -webkit-text-stroke property.
   * https://caniuse.com/#feat=text-stroke
   */
  border-color: #666;
  color: #000;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 0.5px;
}

.czi-custom-button.pressed {
  background-color: #e0e0e0;
}

.czi-custom-button.disabled,
.czi-custom-button.disabled:hover {
  background: #fff;
  color: #dedede;
  cursor: unset;
  pointer-events: none;
  -webkit-text-stroke-width: 0;
}

.czi-custom-buttons .czi-custom-button {
  border-radius: 0;
  margin-left: 0;
}

.czi-custom-buttons > .czi-custom-button:first-of-type {
  border-bottom-left-radius: var(--czi-button-radius);
  border-top-left-radius: var(--czi-button-radius);
}

.czi-custom-buttons > .czi-custom-button:last-child {
  border-bottom-right-radius: var(--czi-button-radius);
  border-top-right-radius: var(--czi-button-radius);
}

.czi-custom-buttons > .czi-custom-button:only-child {
  border-radius: var(--czi-button-radius);
}
