@import url('./czi-vars.css');

.czi-body-layout-editor {
  box-shadow: var(--czi-overlay-shadow);
  font-family: var(--czi-font-family);
  font-size: var(--czi-font-size);
  padding: 4px 10px;
  background: var(--czi-bg);
  color: var(--czi-text-color);
}

.czi-body-layout-editor .czi-form {
  width: 300px;
}
