@import './czi-vars.css';

.czi-body-layout-editor {
  box-shadow: var(--czi-overlay-shadow);
  font-family: var(--czi-font-family);
  font-size: var(--czi-font-size);
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
}

.czi-body-layout-editor.light {
  background-color: #d8d6d6;

}

.czi-body-layout-editor.dark {
  background: #444;
  color: #b7b7b7;
}
.czi-body-layout-editor .czi-form {
  width: 300px;
}
