@import './czi-vars.css';

.czi-body-layout-editor {
  box-shadow: var(--czi-overlay-shadow);
  font-family: var(--czi-font-family);
  font-size: var(--czi-font-size);
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
}

.czi-body-layout-editor {
  background: var(--czi-bg);
  color: var(--czi-text-color);
}
.czi-body-layout-editor .czi-form {
  width: 300px;
}
