.czi-table-cell-menu {
    box-sizing: border-box;
    box-shadow: 0 0 0 0.3px rgba(0, 0, 0, 0.35);
    height: 24px;
    width: 24px;
    margin: 5px 5px 0 0;
    padding-bottom: 0;
    padding-left: 3px;
    text-align: center;
    padding-right: 3px;
    padding-top: 0;
    pointer-events: auto;
}

.czi-table-cell-menu .czi-icon {
  font-size: 12px;
}
