.czi-custom-menu {
  background: #fff;
  box-shadow: var(--czi-overlay-shadow);
  font-family: var(--czi-font-family);
  font-size: var(--czi-font-size);
  max-height: 98vh;
  overflow: auto;
}

.czi-custom-menu {
  background: var(--czi-bg);
  
}
.czi-horizontal-menu {
  display: flex;
  border: 1px solid #bbb8b8;
}