html {
  background: #fff;
  border: 0;
  border: none;
  margin: 0;
}

body {
  background: #fff;
  border: none;
  margin: 0;
}

/* Basic editor styles */
.ProseMirror {
  >* + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgb(97 97 97 / 10%);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: JetBrainsMono, monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgb(13 13 13 / 10%);
  }

  hr {
    border: none;
    border-top: 2px solid rgb(13 13 13 / 10%);
    margin: 2rem 0;
  }
}
