@import url('./styles0.css');
@import url('./czi-math-view.css');
@import url('./czi-pop-up.css');
@import url('./czi-selection-placeholder.css');
@import url('./czi-table-cell-menu.css');
@import url('./czi-table-grid-size-editor.css');
@import url('./licit.css');
/* @import url('@modusoperandi/licit-ui-commands/styles.css'); */
/* @import '@modusoperandi/licit-ui-commands/styles.css'; */
/* In your styles.css */
@import url('../../node_modules/@modusoperandi/licit-ui-commands/styles.css');
@import url('@modusoperandi/licit-ui-commands/ui/czi-tooltip-surface.css');

/* [FS] IRAD-1061 2020-09-19 */

/* Now loaded locally, so that it work in closed network as well. */
@import url('./fonts.css');
@import url('./icon-font.css');
