@import './styles0.css';
@import './ui/czi-loading-indicator.css';
@import './ui/czi-math-view.css';
@import './ui/czi-pop-up.css';
@import './ui/czi-selection-placeholder.css';
@import './ui/czi-table-cell-menu.css';
@import './ui/czi-table-grid-size-editor.css';
@import './ui/czi-tooltip-surface.css';
@import './ui/mathquill-editor/czi-mathquill-editor.css';
@import './ui/mathquill-editor/czi-mathquill-editor-symbols-panel.css';
@import './client/licit.css';

/* [FS] IRAD-1061 2020-09-19 */

/* Now loaded locally, so that it work in closed network as well. */
@import './ui/fonts.css';
@import './ui/custom-style-edit.css';
@import './ui/custom-dropdown.css';
@import './ui/icon-font.css';
@import '~node-mathquill/build/mathquill.css';
@import '~katex/dist/katex.min.css';
@import './ui/citation-note.css';
